.discovery{
    height: 100%;
    background: red;
    color: #fff;
    .sec-one{
        height: 25%;
        background: rgb(241, 148, 148);
    }
    .sec-two{
        height: 25%;
        background: rgb(243, 230, 110);
    }
    .sec-three{
        height: 25%;
        background: rgb(10, 240, 133);
    }
    .sec-four{
        height: 25%;
        background: rgb(34, 22, 209);
    }
}